head
    style
        include styles.css
body
    div(class='wrapper')
        table(class='table-wrapper')
            tbody
                tr 
                    td
                        center
                            table
                                tbody(class='table-inside')
                                    tr
                                        td
                                            table(class='header')
                                                tbody
                                                    tr
                                                        td 
                                                            center
                                                                div(class='header-inside')
                                                                    img(class='logo' src='cid:logo')
                                            table(class='content')
                                                tbody
                                                    tr
                                                        td 
                                                            center
                                                                div(class='content-inside')
                                                                    p Don't worry about your memory, we have a secure way to remember your password.

                                                                    p To change your password, and as an additional security measure, you are requested to enter the (OTP) provided in this email.

                                                                    p The OTP code is: 
                                                                        span(class='bold-text') #{digitCode}

                                            table(class='footer')
                                                tbody
                                                    tr
                                                        td 
                                                            center
                                                                div(class='footer-inside')
                                                                    p send with ❤ by 
                                                                        span(class='bold-text') Disney
                                                                    p © Disney. All rights reserved.